.Abba {
    background: url("https://st.depositphotos.com/1001555/4216/i/600/depositphotos_42167121-stock-photo-work-life-balance.jpg") center center / cover no-repeat;
    height: 600px;
    align-items: center;
    justify-content: center;
    color: azure;
    border-radius: 0% !important;
    margin-left: 2.05rem;
    margin-right: 2.05rem;
    background-size: 100% 100%;
    object-fit: cover;
}

.caddie {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 5rem;

    .no2 {
        display: flex;
        margin-top: 2rem;
    }
}