#roamer {
    padding-top: 8rem;
    margin-top: 9rem;
    margin-bottom: 9rem;
     height: 400px;
     background-color: #eeeeee;
 }

 #roamer .btn {
     background-color: #000000;
     color: $First-color;
 }