nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    ul {
        display: flex;
        text-align: center;
        list-style-type: none;
    }

    li {
        justify-content: center;
        align-items: center;
        // padding-left: 15px;
    }
    // btn {
    //     background-color: black;
    // }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    ul {
        display: flex;
        text-align: center;
    }

    .btn {
        margin: 0.5rem;
        background-color: #000000;
        color: $First-color;
        border-radius: 0%;
    }
}